body {
  background-color: #222831;
  color: white;
}
h1,
h3 {
  color: #00adb5;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: aquamarine;
  border-width: 10px;
  /* border: 10px; */
  width: 5%;
}
img {
  height: 200px;
  width: 200px;
}
